*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background: hsl(185, 75%, 39%);
    overflow: hidden;
    
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    height: 550px;
    width: 500px;
    
    border-radius: 1rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(229, 23%, 23%);
    z-index: 3;
}

.card-pattern{
    display: flex;
    background: url(images/bg-pattern-card.svg);
    min-height: 35%;
    min-width: 100%;
    border-radius: 1rem 1rem 0 0;
    background-size: cover;

}

.card-image{
    background:url(images/image-victor.jpg);
    width: 150px;
    height: 150px;
    margin-top: -75px;
    border-radius: 50%;
    border: 5px solid white;
}

.card-user{
    /* border: solid 1px blue; */
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.card-user h2 span{
    color:hsl(0, 0%, 59%);
    font-weight: 400;
}
.card-user h3{
    margin-top: 20px;
    color:hsl(0, 0%, 59%);
    letter-spacing: 2px;
    font-weight: 400;
    
}

hr{
    background-color: hsl(0, 0%, 59%);;
    min-height: 1px;
    width: 100%;
}
h2{
    font-weight: bold;
}
    


.card-social{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: solid 1px blue; */
    text-align: center;
    margin: auto;

    
}


.grey{
    color: hsl(0, 0%, 59%);
    letter-spacing: 2px;
    margin-top: 5px;
    font-weight: 400;
    font-size: medium;
}
.circle1{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -50%;
    right: 55%;
    background: url(images/bg-pattern-top.svg) no-repeat;
    z-index: 1;
}

.circle2{
    width: 1000px;
    height: 1000px;
    position: absolute;
    bottom: -60%;
    left: 50%;
    background: url(images/bg-pattern-bottom.svg) no-repeat;
    z-index: 1;
}
@media only screen and (max-width: 600px){
    .card{
        width: 375px;
    }
    .circle1{
        top: -50%;
        right: 50%;
    }
    .circle2{
        bottom: -60%;
        right: -150%;  
    }

}
